@keyframes rotate-triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  } 
}

.kaufman__triangle {
  background-image: url("../../../images/kaufman-triangle.svg");
  position: absolute;
  width: 660px;
  height: 636px;
  right: -124px;
  top: 0px;
  z-index: -1;
  animation-name: rotate-triangle;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}




