
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

 /*header Block ======================================================
   */

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  justify-content:center;

}

.logo_place_header {
  position: absolute;
  width: 154px;
  height: 31px;
  z-index: +3;
  top: 38px;
  left: 64px;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0 0 0 64px;
  width: 730px;
  z-index: +3;
}


.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}


.header__main-illustration {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 756px;
  height: 608px;
  z-index: +2;
  border: none;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background: #2F80ED;
  right: 0px;
  top: 64px;
  z-index: +1;
}

.header__link {
  color: #2F80ED;
  text-decoration: none;
   }

/* including elements with key-value modifiers */


  /*description Block ======================================================
   */

.description {

  display: flex;
  justify-content:center;
  margin-top: 100px;
}


.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  padding:0;
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  color: #2F80ED;
}

.two-columns__main-text {
  padding:0;
  margin: 0;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-weight: bold;
  font-size: 24px;
}

.two-columns__paragraph-1 {
  padding: 0;
  margin: 0  0 30px;

}

.two-columns__paragraph-2 {
  padding: 0;
  margin: 0 0 30px;

}

.two-columns__paragraph-3 {
  padding: 0;
  margin: 0;
}

 /*digits Block ======================================================
   */

.digits {
  margin: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 100px auto 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;

}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 60px auto 100px;
  padding:0;
}

.table__cell {
  list-style: none;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__text-source {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

 /*feynman Block ======================================================
   */

   .feynman {
     height: 790px;
     position: relative;
     background: #f2f2f2;
   }

  .feynman__image {
    position: absolute;
    width: 867px;
    height: 637px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
  }

   .feynman__title {
     position: relative;
     width: 775px;
     line-height: 1.15;
     font-size: 120px;
     font-weight: bold;
     margin: 0 auto;
     text-align: center;
     padding-top: 100px;
     z-index: 1;
   }

   .feynman__sub-title {
     position: relative;
     width: 450px;
     line-height: 51px;
     font-size: 36px;
     font-weight: normal;
     margin: 70px auto 0;
     text-align: center;
     padding: 0;
     z-index: 1;
   }

   .feynman__link {
    color: #2F80ED;
    position: absolute;
    height: 50%;
    right: 48px;
    bottom: 0px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    z-index: 10;
   }

    /*kaufman Block ======================================================
   */

  .kaufman{
    position: relative;
    overflow: hidden;
    background: black;
    color: white;
  }

   .section__title_theme_dark {
    width: 60%;
    text-align: center;
    margin: 90px auto 20px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;

  }
  .section__sub-title_theme_dark {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding: 0;

  }
  .table__theme_dark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 90px;
    padding:0;
  }
  .table__cell_theme_dark {
    width: 200px;
    list-style: none;
    margin-top: 80px;
    margin-right: 0;
  }

  .table__heading_them_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;

  }
  .table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
  }
  .kaufman__triangle {
    position: absolute;
    width: 660px;
    height: 636px;
    top: 0px;
    right: -124px;
    opacity: .8;
  }


    /*footer Block ======================================================
   */

   .footer {
    min-height: 350px;
    background: black;
    color: white;
    display: flex;

  }
  .footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 40px;
    padding-top: 60px;
  }
  .footer__column_copyright_content {
    position: relative;
    flex-basis: 711px;
  }

  .footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }


  .footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  .footer__list {
     list-style: none;
     padding: 0;
     line-height: 30px;
     font-size: 18px;
     font-weight: normal;
     margin: 0;
  }

  .footer__column-link {
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
  }
  .footer__column_content_social {
    display: flex;
    flex-direction: column;
  }
  .footer__social-icons {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
