
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  /* parameters for the header section */
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  background: #f2f2f2;
  border: 1px solid aqua;
  justify-content: space-between;

}

.logo {
  width: 154px;
  height: 31px;
  margin-top: 38px;
  position: absolute;
  z-index: auto;
  border: 1px solid aqua;
}

.logo_place_header {
  border: 1px solid aqua;
  margin-top: 38px;
}

.header__title {
  border: 1px solid aqua;
  line-height: 96px;
  font-size: 31px;
  font-weight: bold;
  width: 738px;
  display: inline;
}



.header__subtitle {
  z-index: 1;
  width: 388px;
  border: 1px solid aqua;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid aqua;
  padding-bottom: none;
}

.header__main-illustration img{
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 756px;
  height: 608px;
  object-fit: cover;
  z-index: +1;
  border: 1px solid aqua;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background: #2F80ED;
  right: 0px;
  top: 64px;
}

.header__link {
  border: 1px solid aqua;

  color: #2F80ED;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.two-columns{
  display: flex;
  flex-direction: row;
  min-height: 600px;
  max-height: 756px;
  min-width: 784px;
  justify-content: space-between;
  padding-left: 100px;
  width: 80%;

}


.two-columns__title {

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  min-width: 275px;
}

.two_columns__paragraphs {

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 100px;
  min-width: 784px;


}

.two-columns__paragraph-span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


